{% extends 'base.html.twig' %}

{% block title %}
    Enregistrer vous
{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            {% include 'partials/article-on-login-page.html.twig' %}
        </div>
        <div class="col-md-6">
            <h1>S'inscrire</h1>

            {{ form_start(registrationUserForm,{'attr':
                {
                    'novalidate': 'novalidate'
                }
            }) }}

            {{ form_label(registrationUserForm.firstname) }}
            {{ form_widget(registrationUserForm.firstname , {'attr':
                {
                    'class' : 'rounded-pill'
                }
            }) }}
            {{ form_errors(registrationUserForm.firstname) }}

            {{ form_label(registrationUserForm.lastname) }}
            {{ form_widget(registrationUserForm.lastname, {'attr':
                {
                    'class' : 'rounded-pill'
                }
            }) }}
            {{ form_errors(registrationUserForm.lastname) }}

            {{ form_label(registrationUserForm.email) }}
            {{ form_widget(registrationUserForm.email, {'attr':
                {
                    'class' : 'rounded-pill'
                }
            }) }}
            {{ form_errors(registrationUserForm.email) }}

            {{ form_label(registrationUserForm.password) }}
            {{ form_widget(registrationUserForm.password, {'attr':
                {
                    'class' : 'rounded-pill'
                }
            }) }}
            {{ form_errors(registrationUserForm.password) }}

            <div class="text-center">
                <button class="btn bg-red text-white px-5 rounded-pill" type="submit" name="action">S'INSCRIRE</button>
            </div>

            <p class="mt-4 textSmall text-center">Vous avez déjà un compte? <a href="{{ path('app_login') }}" class="red-link">Se connecter</a>.</p>

            {{ form_end(registrationUserForm) }}
        </div>
    </div>

{% endblock %}



